<navbar></navbar>
<div class="main">
  <users></users>
  <div class="container">
    <div class="router-content">
        <h1>About</h1>

        <h3>Spotify Connector</h3>

        <p>This is an Angular 2 MEAN app that uses the Spotify Web API to find artists and display albums and track listings, chat server for corresponding with other users in the system.</p>

        <p>The project is crated as exam project for FMI-JS course 2016-2017 @ FMI </p>

        <p> Student: Stella Gavrailova, 80984 </p>
    </div>
  </div>
</div>
